<h1>People</h1>

<span><%= link "Add a user", to: Routes.user_path(@conn, :new), class: "btn" %></span>

<%= for user <- @users do %>
    <%= render(PeopleWeb.UserView, "user.html", user: user, conn: @conn) %>
<% end %>